<form action="/cart" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <input type="hidden" name="productId" value="<%= product._id %>">
    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Addto Cart</button>
</form>