<div class="d-flex justify-content-center align-items-center container">
    <form action="/products" method="GET" class="form-inline">
        <div class="form-group">
            <input class="form-control form-control-dark rounded-0" type="text" name="search" placeholder="Search for Products">
            <input type="submit" value="search" class="btn btn-dark rounded-0">
        </div>
    </form>
</div>
