@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

.zoom {
  overflow: hidden;
}

.zoom img{
  transition: all 1s ease;
}

.zoom:hover img {
  transform: scale(1.2);
}

.product-image-resize {
  width: 100% !important;
  max-height: 300 !important;
}

.wide {
  width: 100% !important;
}

@media (min-width: 768px) {
  .main-header__nav {
    display: flex;
  }

  #side-menu-toggle {
    display: none;
  }

  .user-message {
    width: 30rem;
  }
}


